<div id="loginDiv">
  <img src="http://nanna.bekk.no:4806/employees/<%= @user.bekk_id %>.jpeg" width="90" height="110" />
  <% remote_form_for :user, @user, :url => user_path(@user), :method => :put do |f| %>
    
    <p>
    <label for="location">Sted</label><br/>
    <%= select :user, :location_id, @locations.collect {|l|[l.name,l.id]}, {:include_blank => true}, {:id => "location_select"} %>
    </p>
    
    <p style="margin-top:0.5em;margin-bottom:0.5em;">
    <label for="message">Melding</label><br/>
    <%= f.text_area :message, :id => "message_textarea" %>
    </p>
    
    <p>
<%  #  <%= link_to_remote 'Log ut', :url => session_path, :method => :delete, :update => "loginDiv" %><br/> %>
    <div style="width:37.5em;">  
    </span>
    <div style="float:right;">
      <%= submit_tag 'Save' %>
    </div>
    <span id="loginDivMessage" style="display:none;">
    </div>
    </p>
  <% end %>

</div>