<h1>Editing event</h1>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Starts at</b><br />
    <%= f.datetime_select :starts_at %>
  </p>

  <p>
    <b>Ends at</b><br />
    <%= f.datetime_select :ends_at %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
