<html>
  <head>
    <%= GMap.header %>
    <%= stylesheet_link_tag 'tillsammans' %>
    <%= stylesheet_link_tag 'history.css' %>
    <%= javascript_include_tag "AC_OETags.js" %>
    <%= javascript_include_tag "history.js" %>
    <%= javascript_include_tag "flex_global.js" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <div id="header">
          <a href="/"><img id="logo" src="/images/bekktillsammans.png" alt="Tillsammans" border="0"/></a>
          <div id="loginOrUser">           
            <% if @user %>
              <%= render :partial => 'sessions/logged_in' %>
            <% else %>
              <%= render :partial => 'sessions/new' %> 
            <% end %>
          </div>
        </div>
        <div id="outerWrapper">
          <div id="innerWrapper">
            <div id="side">
              <%= render :partial => 'flex/main' %>
            </div>        
            <div id="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </body>
</html>
