<html>
  <head>
    <%= GMap.header %>
    <%= stylesheet_link_tag 'tillsammans' %>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <div id="header">
          <a href="/"><img id="logo" src="/images/bekktillsammans.png" alt="Tillsammans" border="0"/></a>
          <div id="loginOrUser">
            <img src="/images/user.png" width="90" height="110" />
            <% if @current_user %>
              <h1><%= @current_user.name %></h1>                        
              <% form_for(@current_user) do |f| %>
                Lokasjon <%= f.text_field :location %>
                Melding <%= f.text_area :message %>
              <% end %>            
            <% else %>
              <%= render :partial=>'sessions/new'%> 
            <% end %>
          </div>
        </div>
        <div id="outerWrapper">
          <div id="innerWrapper">
            <div id="side">
              Her skal flex-komponenten!
            </div>        
            <div id="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </body>
</html>
