<html>
  <head>
    <%= GMap.header %>
    <%= stylesheet_link_tag 'tillsammans' %>
<<<<<<< HEAD:app/views/layouts/tillsammans.html.erb
    <link rel="stylesheet" type="text/css" href="/flex/history/history.css" />
    <script src="/javascripts/AC_OETags.js" language="javascript"></script>
    <script src="/javascripts/history/history.js" language="javascript"></script>
    <script src="/javascripts/flex_global.js" language="javascript"></script>
=======
    <%= javascript_include_tag "prototype" %>
>>>>>>> 5508d4a4ab60d06107885b108123517bbe414313:app/views/layouts/tillsammans.html.erb
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <div id="header">
          <a href="/"><img id="logo" src="/images/bekktillsammans.png" alt="Tillsammans" border="0"/></a>
          <div id="loginOrUser">
            <img src="/images/user.png" width="90" height="110" />
            <% if @current_user %>
              <h1><%= @current_user.name %></h1>                        
              <% form_for(@current_user) do |f| %>
                Lokasjon <%= f.text_field :location %>
                Melding <%= f.text_area :message %>
              <% end %>            
            <% else %>
              <%= render :partial => 'sessions/new' %> 
            <% end %>
          </div>
        </div>
        <div id="outerWrapper">
          <div id="innerWrapper">
            <div id="side">
              <%= render :partial => 'flex/main' %>
            </div>        
            <div id="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </body>
</html>
